<%- include('../partials/header') %>

<form id='add-destination-form' method="POST"
  action="/flights/<%= flight._id %>/destinations">
    <label>Seat:
        <select name="seat">
            
    </select>
    </label><br>
    <label>Price:
        <select name="price">
            </select>
        </label><br>








<%- include('../partials/footer') %>
