body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  justify-content: center;
  background-color: rgb(135, 188, 164);
  grid-template-areas: 
    "nav"
    "main"
}
s
nav, h1 {
  display: flex;
  color: #00B7FF;
  justify-content: center;
  align-items: center;
}
