body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  justify-content: center;
  background-color: rgb(210, 206, 252);
  text-align: center;
  margin: 5px;
  grid-template-areas: 
    "nav"
    "main"
}

nav, h1, p {
  display: flex;
  color: #010101;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  padding: 5px;
}

