body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  justify-content: center;
  grid-template-areas: 
    "nav"
    "main"
  
}

a {
  color: #00B7FF;
  display: grid;
  justify-content: center;
}
